
@{
    ViewData["Title"] = "درباره ما";
}


<div class="page-header section-main">
    <div class="container">
        <h1 class="page-title">درباره ما</h1>
        <ul class="breadcrumb">
            <li><a href="/Home/Index"><i class="fa-light fa-home"></i></a></li>
            <li class="delimiter">⟩</li>
            <li><a href="/About-Us">درباره ما</a></li>
        </ul>
    </div>
</div>


<div class="page-content">
    <section class="section-main appear-animate">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <div class="about-img">
                        <div class="about-exp">
                            <span>12+ سال تجربه و خدمت </span>
                        </div>
                        <div class="abt-img">
                            <picture>
                                <source srcset="/NormalUser/images/photo23591892210.jpg" type="image/webp">
                                <img class="img-fluid banner-radius" src="/NormalUser/images/photo23591892210.jpg" alt="تیم قالب وکیل الرعایا" loading="lazy" decoding="async">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 text-right">
                    <div class="section-title-main">
                        <h3 class="section-subtitle p-relative">
                            درباره مجمع خیرین کار آفرین خراسان رضوی
                        </h3>
                    </div>
                    <p class="section-desc">
                        مجمع خیرین کارآفرین استان خراسان رضوی با رویکردی غیرانتفاعی و غیرسیاسی، با هدف ترویج فرهنگ کارآفرینی، توانمندسازی جوانان و ایجاد اشتغال پایدار فعالیت می‌کند. این مجمع با باور به نقش کارآفرینی به‌عنوان موتور محرک توسعه اقتصادی و اجتماعی، تلاش دارد تهدید بیکاری را به فرصتی برای رشد و پیشرفت تبدیل کند.
                    </p>
                    <p class="section-desc">
                        با توجه به چالش‌های موجود در مسیر اشتغال، از جمله کمبود مهارت، ضعف فرهنگ کار، نبود سرمایه اولیه و موانع بازار، مجمع خیرین کارآفرین با نگاهی جامع و سیستمی، برنامه‌هایی در حوزه آموزش، حمایت مادی و معنوی، مشاوره و تسهیل‌گری کسب‌وکار اجرا می‌کند. تمرکز اصلی این فعالیت‌ها بر جوانان، دانش‌آموختگان دانشگاهی، کارآفرینان نوپا و اقشار آسیب‌پذیر جامعه است.
                    </p>
                    <p class="section-desc">
                        این مجمع با بهره‌گیری از ظرفیت خیرین کارآفرین، نهادهای مردمی و منابع پایدار مالی، در مسیر توسعه اشتغال مولد، رفع موانع کسب‌وکار و خلق فرصت‌های جدید اقتصادی گام برمی‌دارد و خود را متعهد به ایفای نقشی مؤثر در بهبود فضای کارآفرینی استان می‌داند.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-main">
        <div class="container">
            <div class="section-title-main">
                <h3 class="section-subtitle p-relative">
                    اعضای مجمع خیرین کارآفرین خراسان رضوی
                </h3>
            </div>
            <div class="row cols-xs-2 cols-md-4">
                <div class="image-box appear-animate" data-animation-options="{'name': 'fadeInLeftShorter'}">
                    <a href="team-single.html" class="member-link">
                        <figure class="banner-radius">
                            <picture>
                                <source srcset="/NormalUser/images/team/team1.webp" type="image/webp">
                                <img src="/NormalUser/images/team/team1.jpg" loading="lazy" decoding="async" alt="اعضا تیم" width="280" height="280">
                            </picture>
                        </figure>
                        <h4 class="image-box-name"> نسرین طاهری</h4>
                        <h6 class="image-box-job">مشاور حقوقی</h6>
                    </a>
                </div>
                <div class="image-box appear-animate" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.3s'}">
                    <a href="team-single.html" class="member-link">
                        <figure class="banner-radius">
                            <picture>
                                <source srcset="/NormalUser/images/team/team2.webp" type="image/webp">
                                <img src="/NormalUser/images/team/team2.jpg" loading="lazy" decoding="async" alt="اعضا تیم" width="280" height="280">
                            </picture>
                        </figure>
                        <h4 class="image-box-name">مریم موسوی</h4>
                        <h6 class="image-box-job">وکیل دعاوی خانوادگی</h6>
                    </a>
                </div>
                <div class="image-box appear-animate" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.4s'}">
                    <a href="team-single.html" class="member-link">
                        <figure class="banner-radius">
                            <picture>
                                <source srcset="/NormalUser/images/team/team3.webp" type="image/webp">
                                <img src="/NormalUser/images/team/team3.jpg" loading="lazy" decoding="async" alt="اعضا تیم" width="280" height="280">
                            </picture>
                        </figure>
                        <h4 class="image-box-name">زهرا جلالی</h4>
                        <h6 class="image-box-job"> وکیل دعاوی تجاری</h6>
                    </a>
                </div>
                <div class="image-box appear-animate" data-animation-options="{'name': 'fadeInLeftShorter', 'delay': '.5s'}">
                    <a href="team-single.html" class="member-link">
                        <figure class="banner-radius">
                            <picture>
                                <source srcset="/NormalUser/images/team/team4.webp" type="image/webp">
                                <img src="/NormalUser/images/team/team4.jpg" loading="lazy" decoding="async" alt="اعضا تیم" width="280" height="280">
                            </picture>
                        </figure>
                        <h4 class="image-box-name"> امیرحسین شریفی</h4>
                        <h6 class="image-box-job">وکیل پایه یک دادگستری</h6>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>