
@{
    ViewData["Title"] = "ارتباط باما";
}


<div class="page-header section-main">
    <div class="container">
        <h1 class="page-title">تماس باما</h1>
        <ul class="breadcrumb">
            <li><a href="/Home/Index"><i class="fa-light fa-home"></i></a></li>
            <li class="delimiter">⟩</li>
            <li><a href="/Contact-Us">تماس با ما</a></li>
        </ul>
    </div>
</div>
<div class="page-content">
    <section class="contact-section section-main">
        <div class="container">
            <div class="section-title-main">
                <h3 class="section-subtitle p-relative">
                    تماس با مجمع خیرین کارآفرین خراسان رضوی
                </h3>
            </div>
            <div class="row mt-10">
                <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                    <div class=" d-flex align-items-center h-100">
                        <div>
                     
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="fa fa-location-dot"></i>
                                </span>
                                <div class="icon-box-content rtl">
                                    <h4 class="icon-box-title">آدرس مجمع</h4>
                                    <p> ارشاد خیابان مالک اشتر اپادانا 5 هجرت 4 کوچه توفیق 13 پلاک 93</p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <div class="icon-box-content rtl">
                                    <h4 class="icon-box-title">تلفن</h4>
                                    <p>
                                        <a href="tel:#"> 0912345678 </a><br>
                                        <a href="tel:#"> 0912345678 </a>
                                    </p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <div class="icon-box-content rtl">
                                    <h4 class="icon-box-title">ایمیل </h4>
                                    <p>
                                        <a href="mailto:info@karafarin.app">info@karafarin.app</a><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                    <div class="w-100">
                        <form class="pl-lg-2" action="#">
                            <h3>تماس با ما</h3>
                            <p>
                                فیلد های ستاره دار الزامی هستند .
                            </p>
                            <div class="row mb-2">
                                <div class="col-md-6 mb-4">
                                    <input class="form-control" type="text" placeholder="نام *" required>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <input class="form-control text-left" type="email" placeholder="ایمیل *" required>
                                </div>
                                <div class="col-12 mb-4">
                                    <textarea class="form-control" required
                                              placeholder="متن*"></textarea>
                                </div>
                            </div>
                            <button class="btn btn-gold btn-rounded btn-block">
                                ارسال پیام
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
    <div class="grey-section google-map" id="googlemaps" style="height: 386px">
        <iframe title="map-iframe" src="https://neshan.org/maps/iframe/places/_b1VnxOJGCon#c36.312-59.576-15z-0p/36.312215473258604/59.570270742891154" style="width:100%; height:100%;" allowFullScreen loading="lazy"></iframe>
    </div>
    <!-- End Map Section -->
</div>