<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 
<head>
  <title>Index of /demo/zanex/zanex/assets/scss/template</title>
 </head>
 <body>
<h1>Index of /demo/zanex/zanex/assets/scss/template</h1>
  <table>
   <tr><th valign="top">&nbsp;</th><th><a href="indexb70a.html?C=N;O=A">Name</a></th><th><a href="indexf8a0.html?C=M;O=A">Last modified</a></th><th><a href="indexbfec.html?C=S;O=A">Size</a></th><th><a href="index30b5.html?C=D;O=A">Description</a></th></tr>
   <tr><th colspan="5"><hr></th></tr>
<tr><td valign="top">&nbsp;</td><td><a href="../index.html">Parent Directory</a>       </td><td>&nbsp;</td><td align="right">  - </td><td>&nbsp;</td></tr>
<tr><td valign="top">&nbsp;</td><td><a href="_widgets.html">_widgets.scss</a>          </td><td align="right">2020-12-05 11:56  </td><td align="right">3.4K</td><td>&nbsp;</td></tr>
<tr><td valign="top">&nbsp;</td><td><a href="_weather-cards.html">_weather-cards.scss</a>    </td><td align="right">2020-12-05 11:59  </td><td align="right">2.5K</td><td>&nbsp;</td></tr>
<tr><td valign="top">&nbsp;</td><td><a href="_ribbon.html">_ribbon.scss</a>           </td><td align="right">2021-07-16 11:13  </td><td align="right">1.9K</td><td>&nbsp;</td></tr>
<tr><td valign="top">&nbsp;</td><td><a href="_range.html">_range.scss</a>            </td><td align="right">2020-12-05 11:56  </td><td align="right"> 37K</td><td>&nbsp;</td></tr>
<tr><td valign="top">&nbsp;</td><td><a href="_form-wizard.html">_form-wizard.scss</a>      </td><td align="right">2022-09-12 15:30  </td><td align="right">9.4K</td><td>&nbsp;</td></tr>
<tr><td valign="top">&nbsp;</td><td><a href="_error-pages.html">_error-pages.scss</a>      </td><td align="right">2022-09-16 15:26  </td><td align="right">1.3K</td><td>&nbsp;</td></tr>
<tr><td valign="top">&nbsp;</td><td><a href="_chat.html">_chat.scss</a>             </td><td align="right">2022-09-16 16:06  </td><td align="right"> 11K</td><td>&nbsp;</td></tr>
<tr><td valign="top">&nbsp;</td><td><a href="_chart.html">_chart.scss</a>            </td><td align="right">2022-09-13 09:44  </td><td align="right">7.2K</td><td>&nbsp;</td></tr>
<tr><td valign="top">&nbsp;</td><td><a href="_calender.html">_calender.scss</a>         </td><td align="right">2022-02-05 12:04  </td><td align="right">2.4K</td><td>&nbsp;</td></tr>
   <tr><th colspan="5"><hr></th></tr>
</table>
</body>
</html>
