@model KarAfarin.ViewModels.Authentication.SendVerificationCodeViewModel
@{
    ViewData["Title"] = "ورود به حساب کاربری";
}


<div class="page-content" id="LoginAndVerify">
    <section class="section-main appear-animate mt-10">
        <form asp-action="SendVerificationCode" method="post">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="box">
                            <div class="col-md-12">
                                <h1>ورود به حساب کاربری</h1>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>شماره موبایل (نام کاربری)</label>
                                    <input asp-for="PhoneNumber" class="form-control" placeholder="شماره موبایل ... " />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-rounded"><i class="fa fa-comment-dots" ></i> ارسال کد تایید</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

<partial name="_ValidationScriptsPartial" />