


<div class="page-content">

    <section class="introduction-main-wrap" style="margin-top : 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <partial name="/Views/Shared/_ProfileLayout.cshtml" />
                </div>
                <div class="col-md-9">
                    <div class="profile_box profie_box_data" >

                        <div class="box_header">
                            <h6><i class="fa fa-user-circle" ></i> اطلاعات شخصی</h6>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="Name">نام</label>
                                <p>مهدی</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Name">نام خانوادگی</label>
                                <p>شریفی</p>
                            </div>
                            <div class="form-group col-md-6 mt-4">
                                <label for="Name">شماره تماس</label>
                                <p>09051636799</p>
                            </div>
                            <div class="form-group col-md-6 mt-4">
                                <label for="Name">تاریخ ثبت نام</label>
                                <p>مهدی</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>