@{
    ViewData["Title"] = "مقالات";
}

<div class="page-header section-main">
    <div class="container">
        <h1 class="page-title">آرشیو مقالات</h1>
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa-light fa-home"></i></a></li>
            <li class="delimiter">⟩</li>
            <li><a href="#">آرشیو مقالات</a></li>
        </ul>
    </div>
</div>
<div class="page-content with-sidebar section-main">
    <div class="container">
        <div class="row gutter-lg">
            <div class="col-lg-9">
                <div class="posts grid row" data-grid-options="{'layoutMode': 'fitRows' }">
                    <div class="grid-item col-sm-4">
                        <article class="post post-grid">
                            <figure class="post-media">
                                <a href="blog-single.html">
                                    <picture>
                                        <source srcset="/NormalUser/images/blog/2col/1.webp" type="image/webp">
                                        <img src="/NormalUser/images/blog/2col/1.jpg" width="580" height="400" loading="lazy" decoding="async" alt="عکس از گالری" />
                                    </picture>
                                </a>
                                <div class="post-calendar">
                                    <span class="post-day">19</span>
                                    <span class="post-month">آبان</span>
                                </div>
                            </figure>
                            <div class="post-details rtl">
                                <div class="post-meta">
                                    <i class="fa fa-user"></i> <a href="#" class="post-author">نهال ایران منش</a><span class="divider"></span>
                                    <i class="fa fa-calendar-alt"></i> <a href="#" class="post-date">12 اسفند 1403</a><span class="divider"></span>
                                    <i class="fa fa-comment"></i><a href="#" class="post-comment"><span>2</span> دیدگاه</a>
                                </div>
                                <h6 class="post-title">
                                    <a href="blog-single.html">
                                        چگونه از حقوق خود در دعاوی مدنی دفاع کنیم؟
                                    </a>
                                </h6>
                                <p class="post-content">
                                    دعاوی مدنی بخش قابل‌توجهی از پرونده‌های حقوقی را تشکیل می‌دهند و بسیاری از افراد به دلیل ناآگاهی از قوانین و مراحل قانونی، در این فرآیند با چالش‌های جدی مواجه می‌شوند. این مقاله به بررسی جامع نکاتی می‌پردازد که هر فردی باید پیش از ورود به یک دعوای مدنی بداند.
                                </p>
                                <a href="blog-single.html" class="btn btn-link btn-underline btn-primary">
                                    ادامه مقاله <span class="mr-1">»</span>
                                </a>
                            </div>
                        </article>
                    </div>


                </div>
                <div class="pagination-wrap">
                    <ul class="pagination">
                        <li><a href="#" class="prev">&laquo;</a></li>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#" class="next">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <aside class="col-lg-3 sidebar sidebar-fixed sticky-sidebar-wrapper rtl bg-gray">
                <div class="sidebar-overlay">
                </div>
                <a class="sidebar-close" href="#"><i class="fa fa-xmark"></i></a>
                <a href="#" class="sidebar-toggle"><i class="fas fa-chevron-right"></i></a>
                <div class="sidebar-content">
                    <div class="sticky-sidebar" data-sticky-options="{'top':0, 'bottom': 70}">
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">دسته بندی مقالات</h3>
                            <ul class="widget-body filter-items search-ul">
                                <li>
                                    <a href="blog-list.html">خدمات وکالتی</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">مقالات پربازدید</h3>
                            <div class="widget-body ">
                                <div class="post-col">
                                    <div class="post post-list-sm">
                                        <figure class="post-media">
                                            <a href="blog-list.html">
                                                <picture>
                                                    <source srcset="/NormalUser/images/blog/1_xs.webp" type="image/webp">
                                                    <img src="/NormalUser/images/blog/1_xs.jpg" width="90" height="90" loading="lazy" decoding="async" alt="عکس از گالری" />
                                                </picture>
                                            </a>
                                        </figure>
                                        <div class="post-details rtl">
                                            <div class="post-meta">
                                                <a href="#" class="post-date"> تاریخ  1403/08/02</a>
                                            </div>
                                            <div class="post-name">
                                                <a href="#" class="post-author"> هلیا شکیبا</a>
                                            </div>
                                            <h5 class="post-title">
                                                <a href="blog-list.html">
                                                    نکات کلیدی برای پیروزی در دعاوی مدنی
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm">
                                        <figure class="post-media">
                                            <a href="blog-list.html">
                                                <picture>
                                                    <source srcset="/NormalUser/images/blog/2_xs.webp" type="image/webp">
                                                    <img src="/NormalUser/images/blog/2_xs.jpg" width="90" height="90" loading="lazy" decoding="async" alt="عکس از گالری" />
                                                </picture>
                                            </a>
                                        </figure>
                                        <div class="post-details rtl">
                                            <div class="post-meta">
                                                <a href="#" class="post-date"> تاریخ  1403/08/02</a>
                                            </div>
                                            <div class="post-name">
                                                <a href="#" class="post-author"> هلیا شکیبا</a>
                                            </div>
                                            <h5 class="post-title">
                                                <a href="blog-list.html">
                                                    نکات کلیدی برای پیروزی در دعاوی مدنی
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm">
                                        <figure class="post-media">
                                            <a href="blog-list.html">
                                                <picture>
                                                    <source srcset="/NormalUser/images/blog/3_xs.webp" type="image/webp">
                                                    <img src="/NormalUser/images/blog/3_xs.jpg" width="90" height="90" loading="lazy" decoding="async" alt="عکس از گالری" />
                                                </picture>
                                            </a>
                                        </figure>
                                        <div class="post-details rtl">
                                            <div class="post-meta">
                                                <a href="#" class="post-date"> تاریخ  1403/08/02</a>
                                            </div>
                                            <div class="post-name">
                                                <a href="#" class="post-author"> هلیا شکیبا</a>
                                            </div>
                                            <h5 class="post-title">
                                                <a href="blog-list.html">
                                                    نکات کلیدی برای پیروزی در دعاوی مدنی
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget-posts widget-collapsible">
                            <h3 class="widget-title">برچسب ها</h3>
                            <div class="widget-body ">
                                <a href="#" class="tag">دعاوی مدنی</a>
                                <a href="#" class="tag">حقوق مدنی</a>
                                <a href="#" class="tag">دفاع حقوقی</a>
                                <a href="#" class="tag">حقوق افراد</a>
                                <a href="#" class="tag">مشاوره حقوقی</a>
                                <a href="#" class="tag">دفاع از حقوق</a>
                                <a href="#" class="tag">مسائل حقوقی</a>
                                <a href="#" class="tag">آموزش حقوقی</a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>